* @aziontech/team-dev-tools-integrations
/.github/                           @aziontech/team-delivery-engineering
/CODEOWNERS                         @aziontech/team-delivery-engineering
/SECURITY.md                        @aziontech/security-office @aziontech/team-delivery-engineering
/.github/workflows/ci-security.yml  @aziontech/security-office @aziontech/team-delivery-engineering
.gitleaks.toml                      @aziontech/security-office
.semgrepignore                      @aziontech/security-office
osv-scanner.toml                    @aziontech/security-office
zizmor.yml                          @aziontech/security-office